
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #22B573; 
  color: white;
}

.navbar-logo h1 {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.navbar-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #FBB03B;
}


.cart-widget {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-icon {
  font-size: 1.6rem;
}

.cart-count {
  background-color: black; 
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 0.8rem;
  margin-left: -10px;
  margin-top: -15px;
  font-weight: bold;
}

.logo-img {
  height: 50px; 
  width: auto; 
  object-fit: contain;
  cursor: pointer;
}

.navbar-logo {
  display: flex;
  align-items: center;
}